NEXT_PUBLIC_API_BASE_URL=
COMMON_SWAGGER_URL=
USER_SWAGGER_URL=
OWNER_SWAGGER_URL=

# apps/client
NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_SENTRY_ENVIRONMENT=
NEXT_PUBLIC_SENTRY_RELEASE=
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=

# apps/market-owner
VITE_SENTRY_DSN=
VITE_SENTRY_ENVIRONMENT=
VITE_SENTRY_RELEASE=
