node_modules
.pnpm-store
.agents

.next
.vercel
apps/*/.vercel
.turbo
.cache

coverage
.lighthouseci
lighthouse-report
playwright-report
test-results
storybook-static

dist
dist-ssr
pnpm-lock.yaml
/README.md
turbo/generators/templates/**/*.hbs
packages/shared/src/api/__generated__
